	.dz-preview, .dz-file-preview, .dz-processing, .dz-error, .dz-details, .dz-progress,
    .dz-success-mark, .dz-error-mark, .dz-error-message{
      display: none;
    }
	/*Fonts manipulations*/
	@font-face{
		font-family: OxygenLight;
		src:url(fonts/Oxygen-Light.ttf);
	}
	@font-face{
		font-family: OxygenBold;
		src:url(fonts/Oxygen-Bold.ttf);
	}
	@font-face{
		font-family: OxygenRegular;
		src:url(fonts/Oxygen-Regular.ttf);
	}
	@font-face{
		font-family: Cargo;
		src:url(fonts/8th-Cargo.ttf);
	}
	.OxygenLight{
		font-family: OxygenLight;
		font-size: 18px;
		font-weight: lighter;
	}
	.OxygenBold{
		font-family: OxygenBold;
		font-weight: bold;
		font-size: 18px;
	}
	.OxygenRegular{
		font-family: OxygenRegular;
		font-size: 18px;
		font-weight: normal;
	}
	.Cargo{
		font-family: Cargo;
		font-size: 18px;
	}
	/*----------------------------*/
	body{
		padding-right: 20px;
		padding-left: 20px;
		background: white;
		z-index: 1;
		overflow-x: hidden; 
	}
	.modifications p{
		margin-left: 30px;
	}
	#text-styling p{
		margin-left: 0px;
	}
	p{
		margin: 5px;
	}
	input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;   
	}
	#color-picker p{
		margin-bottom: 5px;
	}
	label input{
		display: none;
	}
	label{
		margin-top: 5px;
		margin-left: 8px;
		height: 20px;
		width: 20px;
	}
	label img{
		height: 15px;
		width: 15px;
		display: inline-block;
		margin-top: 5px;
		padding: 0px;
	}
	label input:checked +img{
		border: 1px solid blue;
	}
	input[type="email"]{
		margin-top: 10px;
		width: 500px;
		height:40px;
		font-size: 26px;
	}
	#sendEmail{
		margin-bottom: 15px;
		height: 40px;
		width: 60px;
	}
	.image-combinor{
		float: left;
		margin: 0 auto;

		width: 50%;
		min-height: 510px;
	}
	#canvas{
		margin: auto;
		width: 96%;
		height: 580px;
		border: 1px solid grey;
	}
	.right-side{		
		float: right;
		margin: 0 auto;
		padding-top: 10px;
		padding-right: 5px;
		padding-left: 20px;
		width: 45%;
		min-height: 510px;
	}
	.select-from-library{
		float: left;
		margin: 0 auto;
		width: 45%;
		min-height: 500px;

	}
	.library-file-selector{
		margin-top: 10px;
		/*min-width: 260px;*/
		width: 100%;
		min-height: 480px;
		max-height: 480px;
		border: 1px solid grey;
		overflow-y: auto;
		text-align: center;
	}
	.library-file-selector img{
		width: 240px;
		margin-left: 5px;
		z-index: -1;
	}
	.modifications{
		float: right;
		margin: 0 auto;
		margin-left: 10px;
		width: 50%;
		min-height: 500px;
	}
	.upload-files{
		margin: 10px auto;
		border: 1px solid grey;
		width: 90%;
		min-height: 180px;
	}
	.buttonDiv{
		margin: auto;
		text-align: center;
	}
	/*Buttons*/
	#uploadAll{
		width: 60%;
		height: 30px;
		font-size: 16px;
		font-weight: bold;
	}
	#generate{
		width: 60%;
		height: 30px;
		font-size: 16px;
		font-weight: bold;
	}
	#sendEmail{
		font-size: 16px;
		font-weight: bold;
	}
	/*------*/
	.text-editor{
		text-align: center;
	}
	#input-text-view{
		margin: auto;
		padding: 20px;
		background: white;
		border: 1px solid grey;
		height: 40px;
		width: 78%;
		vertical-align: middle;
	}
	#input-text-view p{
		margin-left: 0px;
	}
	#text-styling{
		padding-top: 10px;
		margin: auto;
		
	}
	#text-styling p{
		font-size: 14px;
	}
	.sending{
		float: left;
		margin-left: 7%;
		margin-top: 10px;
		width: 100%;
		clear: both;
		min-height: 50px;
		vertical-align: middle;
	}
	.email-input{

		float: left;
	}
	#email-sending{
		margin-left: 15px;
		margin-top: 13px;
		float: left;
	}